doctype html
html
  head
    title= title
  body
    h1 Hello from Pug and Express on Bun!!!
    h2= title
    p Welcome to your Bun-powered server.ts
    p change this file to check the browser will reload or not!